<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <script src="{{ '/scripts/scripts.js' | url }}" defer></script>
</head>
<body>

    {% include "header.njk" %}

    <main>
        <aside class="sidebar">
            <ul class="side-nav-container">
            </ul>

        </aside>
        <section class="content">
            <h1><a href="#License">{{title}}</a></h1><hr>
            {{ content | safe }}
        </section>
    </main>
    
</body>
</html>