<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/11ty-test/css/styles.css">
    <script src="/scripts/scripts.js" defer></script>
    <script src="/11ty-test/scripts/scripts.js" defer></script>
</head>
<body>
    <header>
        <div class="site-title"><a href="/">cubing.js documentation</a></div>
        <nav class="top-nav">
            <ul class="top-nav-container">
                {% for item in nav.items %}
                    <li>
                        <a href="{{item.url}}"
                            {% if item.url == page.url %} 
                                aria-current="page" data-state="active"
                            {% endif %}
                        >{{item.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    
    </header>


    <main>
        <aside class="sidebar">
            <ul class="side-nav-container">
            </ul>

        </aside>
        <section class="content">
            <h1><a href="#License">{{title}}</a></h1><hr>
            {{ content | safe }}
        </section>
    </main>
    
</body>
</html>