<header>

    <div class="site-title"><a href="/">cubing.js documentation</a></div>
    <nav class="top-nav">
        <ul class="top-nav-container">
            <li><a href="{{ '/' | url }}">Home</a></li>
            <li><a href="{{ '/pages/getting-started' | url }}">Getting Started</a></li>
            <li><a href="{{ '/pages/api-reference' | url }}">API Reference</a></li>
            <li><a href="{{ '/pages/experiments' | url }}">Experiments</a></li>
            <li><a href="{{ '/pages/contributing' | url }}">Contributing</a></li>
        </ul>
    </nav>

</header>