body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

* {
    outline: solid red 2px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;

}

main {
    padding-top: 50px;
    display: flex;
}

.sidebar {
    width: 300px;
}

.content {
    padding-left: 30px;

}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
}

h1 {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.75em;
  margin-bottom: 0.5714em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em;
}

h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.125em;
  margin-bottom: 0.8888em;
}

h6 {
  font-size: 1em;
  margin-bottom: 1em;
}

blockquote {
  background-color: whitesmoke;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em;
}

code {
  background-color: whitesmoke;
  color: #da1039;
  font-size: 1.25em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
}

pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
}

pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 1.25em;
  padding: 0;
}

p:not(:last-child),
dl:not(:last-child),
ol:not(:last-child),
ul:not(:last-child),
blockquote:not(:last-child),
pre:not(:last-child),
table:not(:last-child) {
  margin-bottom: 1em;
}